body {
  overflow-x: hidden;
  margin: 0;
}

.button1 {
  width: 80px;
}

.container {
  margin-top: 10%;
  color: red;
}

.parent {
  width: 320px;
  padding-bottom: 10px;
}

.input {
  height: 30px;
  background-color: blanchedalmond;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cont {
  margin-top: auto;
  margin-bottom: auto;
}
