body {
  overflow-x: hidden;
  margin: 0;
}

.button1 {
  width: 80px;
}

.container {
  margin-top: 10%;
  color: red;
}

.parent {
  width: 340px;
  padding-bottom: 10px;
}

.input {
  border-top: 10px solid goldenrod;
  border-left: 10px solid gold;
  border-right: 10px solid gold;
  height: 50px;
  width: 340px;
  background-color: rgb(107, 65, 24);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.buttonP {
  border-bottom: 10px solid goldenrod;
  border-left: 10px solid goldenrod;
  border-right: 10px solid goldenrod;
}

.cont {
  margin-top: auto;
  margin-bottom: auto;
}
